
body, h1, p, div, img, header, section, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #fff;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    color: #333;
}

.header {
    text-align: center;
    padding: 2rem;
    background-color: #f0f0f0;
    background-image: url('../img/fondo.jpg');
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

}

.features {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: #2c2c2c;
}

.feature {
    text-align: center;
}

.feature i {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    display: block;
    color: #fff;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    background-color: #000000;
}

.gallery-item {
    flex: 1 1 calc(25% - 1rem);
    max-width: calc(25% - 1rem);
}

.gallery-item img {
    width: 100%;
    border-radius: 8px;
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
